body {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    text-align: center;
}

a {
    text-align: center;
}

.ice {
    text-align: center;
}